<footer class="page-footer font-small blue pt-4 bg-dark text-white">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">Devs</h5>
            <p>Neeha Kurelli, Sresha Ventrapragada, and Yong Yan (Crystal) Liang.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
            <li>
                <a href="{{ url_for('index') }}">Home</a>
            </li>
          
            <li>
                <a href="{{ url_for('postings') }}">Postings</a>
            </li>
          
            </ul>

        </div>
         <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
            <li>
                <a href="{{ url_for('users') }}">Users</a>
            </li>
            <li>
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
            </li>
            </ul>

        </div>
        <!-- Grid column -->

        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="{{ url_for('index') }}">Connected</a>
    </div>
    <!-- Copyright -->

</footer>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
