<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
        <img height="40px" width="auto" class="m-1" src="../static/94C4D2.jpg">
        <a class="navbar-brand" href="/">Connected</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" id="index" href="{{ url_for('index') }}">Home</a>
                </li>
                {% if loggedIn == False %}
                <li class="nav-item">
                    <a class="nav-link" id="login" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="signup" href="{{ url_for('signup') }}">Signup</a>
                </li>
                {% elif loggedIn == True %}
                <li class="nav-item">
                    <a class="nav-link" id="postings" href="{{ url_for('postings') }}">Postings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="users" href="{{ url_for('users') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="dashboard" href="{{ url_for('dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                
            </ul>
            <form class="d-flex" action="/search" method="POST">
                <input class="form-control me-2" type="search" placeholder="Job Title" aria-label="Search" name="postingSearch">
                <button class="btn btn-outline-success" type="submit" value="submit">SEARCH</button>
            </form>
            {% endif %}
        </div>
        </div>
    </nav>
</header>